.main-layout {
    display: flex;
  }
  
  app-leftsidebar {
    width: 250px;
  }
  
  app-conversation {
    flex: 1;
    padding: 20px;
  }
  
  app-header, app-footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
  }